* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}


.container {
    display: flex;
    width: 80%;
    height: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    overflow: hidden;
}

.left-side {
    width: 50%;
    background-color: rgba(231, 231, 231, 0.95);
    color: rgba(235, 13, 13, 0.715);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left-side h1 {
    font-size: 3em;
    margin: 0;
}

.right-side {
    width: 50%;
    background-color: rgb(235, 238, 241);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-side h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    width: 100%;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #f5f2f2;
    border-radius: 5px;
    font-size: 1em;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

p {
    margin-top: 20px;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
    display: block;
}

